//colors

$primary:#437281 !default;
$primary-hover:#00688b !default;
$secondary:#2c002c !default;
$thirdary:#8b5e3c !default;
$white: #fff !default;
$black: #000 !default;

$success: #28a745 !default;
$danger: #dc3545 !default;
$warning: #ffc107 !default;
$info: #17a2b8 !default;
$light: #f0f0f0 !default;
$grey: rgb(112, 112, 112) !default;
$dark: #343a40 !default;


$dark-background: #2c002c !default;
$light-background: #f8f9fa !default;

$btn-1:#ef5285 !default;

//services 
$title: #7C7C7C !default;
$title-dark: #585858 !default;
$title-dot: #3864A0 !default;
$cust: #faa725 !default;
$sdk: #00a396 !default;
$design: #90218c !default;
$develop: #8cc63f !default;
$pub: #aa212b !default;
$opt: #ffc100 !default;

$cust-bk: #ffca85 !default;
$sdk-bk: #89c9c3 !default;
$design-bk: #c6a7d8 !default;
$develop-bk: #aae0a0 !default;
$pub-bk: #e58f97 !default;
$opt-bk: #f4edab !default;

//footer 

$header-bg: #01345e !default;
$footer-bg: #3864A0 !default;