.about {
  @include flex-center;
  min-height: 100vh;
  width: 100%;
  background-image: url("../images/background/about.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15% 10%;

  .about-pic {
    width: 500px;
    border-radius: 20px;
    border: 10px solid $white;
    margin-right: -6rem;
    z-index: 2;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .about-content {
    width: 600px;
    height: auto;
    background-color: rgba(177, 196, 214, 0.6);
    padding: 3rem 3rem 6rem 8rem;

    .about-title {
        font-size: 2.5rem;
        font-weight: 300;

        &.en{
            letter-spacing: .1rem;
        }

        &.ch{
            letter-spacing: .2rem;
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            border-bottom: 2px solid rgba(255, 255, 255, 0.4);;
        }
    }

    .about-text {
        display: flex;
        white-space: normal;
        max-width: 100%; 
        margin-bottom: 2rem;
        font-size: .9rem;
        letter-spacing: .1rem;
        line-height: 1.5;
    }
  }
}

@media (max-width: 1024px) {
  .about {
    flex-direction: column;
    padding: 0;
    .about-pic {
      margin-right: 0;
      margin-bottom: -8rem;
    }
    .about-content {
      width: 700px;
      padding: 5rem;
      padding-top: 10rem;
    }
  }
}

@media (max-width:768px) {
  .about {
    .about-pic {
      width: 100%;
      border-radius: 0;
      border: transparent;
      margin-bottom: 0;
      padding: 0 2rem;
    }
    .about-content {
      width: 100%;
      padding: 2rem 4rem;
      background: transparent;
    }
  }
}
@media (max-width:640px) {
  .about {
    .about-content {
      padding: 1rem 2rem;
      .about-title {
        &.en{
            letter-spacing: .1rem;
        }
        &.ch{
            margin-bottom: 1rem;
            padding-bottom: 1rem;
        }
    }
    }
  }
}