.go-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  // width: 50px;
  // height: 50px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  transition:0.35s ease-in-out;
  opacity: 0;
  transform: scale(0);
  z-index: 1000;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &:focus {
    transform: scale(1.2);
  }

  &.show {
    opacity: 1;
    transform: scale(1);
  }
}
