/* preloader */
.preloader {
  /* position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white; */
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.preloader.hidden {
  opacity: 0;
  visibility: hidden;
}
.load {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width: 100px;
  height: 100px;
  z-index: 9999;
}
.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.load :first-child {
  background: #00a396;
  animation-delay: -1.5s;
}
.load :nth-child(2) {
  background: #aa212b;
  animation-delay: -1s;
}
.load :nth-child(3) {
  background: #ffc100;
  animation-delay: -0.5s;
}
.load :last-child {
  background: #3864a0;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.main,
.navbar,
.footer {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}

.loaded.main,
.loaded.navbar,
.loaded.footer {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}
