/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 內容無法被選取或反白 */
    user-select: none; 
  }
  
  html, body {
    width: 100%;
    height: 100%;
    font-family: "Noto Sans TC", sans-serif;
    scroll-behavior: smooth;
  
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  ul, ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    all: unset;
    outline: none;
    box-shadow: none;
  }
  