<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href='{{ "virtual-dream.svg" | absURL }}'
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Params.Tag }}</title>

    {{/* 引入 Google Fonts */}}
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    {{/* 引入Swiper */}} {{ $swiperCSS := resources.Get
    "css/swiper-bundle.min.css" }}
    <link rel="stylesheet" href="{{ $swiperCSS.RelPermalink }}" />

    {{/* 引入自有scss */}} {{ $styles := resources.Get "scss/main.scss" | toCSS
    | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
  </head>
  <body>
    {{ partial "preloader.html" . }} {{ partial "header.html" . }}

    <main class="main">{{ block "main" . }}{{ end }}</main>

    {{ partial "footer.html" . }} {{ partial "go-top-button.html" . }} {{
    $swiperJS := resources.Get "js/swiper-bundle.min.js" }}
    <script src="{{ $swiperJS.RelPermalink }}"></script>

    <script src="{{ .Site.BaseURL }}js/main.js" defer></script>
  </body>
</html>
