<section class="cover" id="cover">
  <div class="cover-image-container">
    <img
      src="images/logo-thin.png"
      alt="logo"
    />
  </div>
  <div class="cover-content">
    <h1 class="cover-title">{{ .Params.title | default "Welcome" }}</h1>
    <p class="cover-description">{{ .Params.description | default "Your journey begins here" }}</p>
  </div>
  <div class="cover-btn-container">
    {{ partial "button.html" (dict "text" "了解更多" "href" "#service") }}
    {{ partial "button.html" (dict "text" "聯絡我們" "href" "#footer") }}
  </div>
</section>
